<div align="center">


<% if !user_signed_in? %>
  <h1>== WELCOME TO CODER CHAT ==</h1>
  <%= link_to "Sing IN", user_session_path, class: "btn btn-primary" %>
  <%= link_to "Sing UP", new_user_registration_path	, class: "btn btn-primary" %>
<% else %>
      <%= link_to "INBOX", messages_path(:type => 'INBOX'), class: "btn btn-primary" %>
      <%= link_to "SENT", messages_path(:type => 'SENT'), class: "btn btn-primary" %>
<% end %>

</div>