<nav class="navbar navbar-expand-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'HOME', root_path, class: 'nav-item nav-link active' %>
      <% if !user_signed_in? %>
        <%= link_to 'SIGN IN', new_user_session_path, class: 'nav-item nav-link active' %>
        <%= link_to 'SIGN UP', new_user_registration_path, class: 'nav-item nav-link active' %>
      <% else %>
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: "delete", class: 'nav-item nav-link active' %>
        <a class="nav-item nav-link active" href="#">INBOX <span class="sr-only">(current)</span></a>
        </div>
        <form class="form-inline" >
          <input class="form-control mr-sm-2" type="text" placeholder="Search for message ... ">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
      <% end %>




</nav>